<thead>        
<tr>
	{{#each headers}}
      	<th>{{i18n this}}</th>
	{{/each}}
</tr>
</thead>
<tbody></tbody>
<tfoot>
	<tr>
		<td colspan="3">    
			<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
			</ul>
		</td>
	</tr>
</tfoot>