<thead>        
<tr>
	{{#each headers}}
      	<th>{{this}}</th>
	{{/each}}
</tr>
</thead>
<tbody></tbody>
<tfoot>
	<tr>
		<td colspan="100%">    
			<ul class="pagination">
				  <li><a class="paging" data-paging="first" href="#">&laquo;</a></li>
				  <li><a class="paging" data-paging="prev" href="#">&lsaquo;</a></li>
                  <li><a class="paging" data-paging="next" href="#">&rsaquo;</a></li>
				  <li><a class="paging" data-paging="last" href="#">&raquo;</a></li>
			</ul>
		</td>
	</tr>
</tfoot>