body,html{
	width:100%;
}

table{
	font-size:11px;
}

.table{
	margin-bottom:0px;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	padding:4px;	
}

a.navbar-brand{
	float:right;
}