body,html{
	width:100%;
}

table{
	font-size:11px;
}

.table{
	margin-bottom:0px;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	padding:4px;	
}

a.navbar-brand{
	float:right;
}

.empty-view{
	padding:20px;
	font-weight:bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.row{
	margin-top:250px;
	width:100%;
}

.col-lg-6{
	left:400px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.indexPage .navbar-form{
	display:none;
}


	.search-input {
		position: absolute;
		top: 0;
		z-index: 2;
		color: #fff;
		background-color: transparent;
		opacity: .6;
		-ms-filter: "alpha(opacity=60)";
	}
	.search-input {
		display: block;
		top: 12px;
		padding: 5px 27px 6px 12px;
		font-size: 12px;
		line-height: 1;
		color: #fff;
		background-color: #000;
		border: 0;
		border-radius: 21px;
		transition: all .2s ease-in-out;
	}
	input, textarea, div[contenteditable="true"] {
		transition: .2s linear background;
	}
	input, textarea, div[contenteditable="true"], .t1-select {
		display: inline-block;
		width: 210px;
		padding: 4px;
		margin: 0;
		outline: 0;
		background-color: #fff;
		border: 1px solid #e1e8ed;
		border-radius: 3px;
	}
	.t1-label, input, textarea, div[contenteditable="true"], .t1-select {
		margin: 0;
		font-size: 13px;
		line-height: 20px;
	}
	input {
		line-height: normal;
	}
	button, input, optgroup, select, textarea {
		color: inherit;
		font: inherit;
		margin: 0;
	}
	
.search-icon {
	position: absolute;
	top: 4px;
	right: -3px;
	display: block;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

i.fa.fa-search{
	color:#000;
	height:26px;
	width:26px;
	margin-left: 188px;
	margin-top: 10px;
}

.panel-default{
	margin-left:auto;
	margin-right:auto;
}


.spinner{
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba( 255, 255, 255, .3 ) url('../img/spinner.gif')50% 50%no-repeat;
}

body.loading{
	overflow: hidden;
}

body.loading .spinner {
	display: block;
}

.highlighted{
	background:#BBD9BB;
}

.syntaxhighlighter .container{
	width:100%;
}
